[submodule "PixelFederation.Unity.Tween"]
	path = PixelFederation.Unity.Tween
	url = https://github.com/pshtif/PixelFederation.Unity.Tween
[submodule "PixelFederation.Unity.MVC"]
	path = PixelFederation.Unity.MVC
	url = https://github.com/pshtif/PixelFederation.Unity.MVC
[submodule "PixelFederation.Unity.Geom"]
	path = PixelFederation.Unity.Geom
	url = https://github.com/pshtif/PixelFederation.Unity.Geom
[submodule "PixelFederation.Unity.Pooling"]
	path = PixelFederation.Unity.Pooling
	url = https://github.com/pshtif/PixelFederation.Unity.Pooling
